label {
  position: absolute; top: 0; left: 0;
  box-sizing: border-box; width: 60%; padding: 1.1em .8em; margin: .5em 0 0;
  font-weight: normal; line-height: 1.6em; color: var(--black-washed);
  /* pointer-events: none */
}

input::placeholder, select::placeholder, textarea::placeholder { color: transparent }

select:invalid{ color: transparent }
.form-group:has(select:invalid) label { color:var(--black-washed) }

.form-group:has(input:focus) label,  /* in focus */
.form-group:has(input:not(:placeholder-shown)) label { text-align: right; opacity: .5; left: 40% } /* filled */

.form-group:has(input[type="number"]:focus) label,  /* number in focus */
.form-group:has(input[type="number"]:not(:placeholder-shown):hover) label,  /* number hover, has content */
.form-group[data-has-icon="true"]:has(input:not(:placeholder-shown)) label { left: calc(40% - 25px) } /* filled, has icon */ /* calc(40% - 25px) */

.form-group:has(select:invalid) label { left: 0 } /* empty */
.form-group:has(select:valid) label { left: 40%!important; text-align: right; opacity: .5 } /* filled */

@media screen and (max-width: 992px) {
  .form-group[data-has-icon="true"]:has(input:not(:placeholder-shown)) label { left: 40% }
}