label {
  --valid: var(--label-text);
  --invalid: hsl(from var(--label-text) h max(0, s - 10) l / 0.5);
  --label-back: linear-gradient(to right, transparent 0%, var(--body-back) 20%);

  position: absolute; left: 0; transform: translateX(0); text-align: left;;
  box-sizing: border-box; width: auto; padding: 1.1em 1em; margin: .5em 0 0;
  font-weight: normal; line-height: 1.6em; color: var(--valid); text-wrap: nowrap;
  transition: all 0.5s ease-in-out;
  pointer-events: none
}

input::placeholder, select::placeholder, textarea::placeholder { color: transparent }

select:invalid{ color: transparent }
.form-group:has(select:invalid) label { color: var(--invalid) }

.form-group:has(input:focus) label,                   /* in focus */
.form-group:has(input:not(:placeholder-shown)) label, /* filled */
.form-group:has(select:valid) label {                 /* filled */
  left: 100%; transform: translateX(-100%); text-align: right;
  padding-left: 1.2em; color: var(--invalid); background: var(--label-back);
}
.form-group:has(input:not(:placeholder-shown)) label[for="address"] { opacity: 0;}

.form-group:has(input[type="number"]:focus) label,                          /* number in focus */
.form-group:has(input[type="number"]:not(:placeholder-shown):hover) label,  /* number hover, has content */
.form-group[data-has-icon="true"]:has(input:not(:placeholder-shown)) label { left: calc(100% - 40px); padding-right: 0 } /* filled, has icon */
.form-group:has(select:invalid) label { left: 0 } /* empty */

@media screen and (max-width: 992px) {
  .form-group[data-has-icon="true"]:has(input:not(:placeholder-shown)) label { left: 100% }
}