.card-holder {
  position: relative;
  padding: 3px; border-radius: 17px;
  overflow: hidden; isolation: isolate;
  cursor: pointer
}

.card-holder::before {
  position: absolute; top: 50%; left: 50%;
  content: ''; width: 600px; height: 600px;
  background: var(--card-br); transform: translate(-50%, -50%);
  z-index: -1;
}

.magic { animation: glowBoxshadow 2.5s linear infinite }

@keyframes glowBoxshadow {
  0%   { box-shadow: 0 0 20px var(--nav-back) }
  25%  { box-shadow: 0 0 20px var(--header-left) }
  50%  { box-shadow: 0 1px 20px var(--header-right) }
  75%  { box-shadow: 0 4px 20px var(--nav-line) }
  100% { box-shadow: 0 1px 20px var(--nav-back) }
}

.magic::before {
  opacity: .8;
  background: conic-gradient(from 0deg, var(--nav-back), var(--header-left), var(--header-right), var(--nav-line));
  animation: spinGradient 2.5s linear infinite;
}

@keyframes spinGradient {
  from { transform: translate(-50%, -50%) rotate(0deg) }
    to { transform: translate(-50%, -50%) rotate(360deg) }
}

.card {
  position: relative;
  display: flex; flex-direction: column; /* min-height:128px; 132px */
  border: 0; border-radius: 15px;
  background: var(--card-bg); box-shadow: 0 1px 2px rgba(0,0,0,.04);
  cursor: pointer; opacity: 1;
}
.regular-border { border: 3px solid var(--card-br) }
.partiallyVisible { opacity:.5 }

.name, .details { padding:22px 18px 18px }
.name { display: inline-flex; justify-content: space-between; font-weight: 600; font-size: 1.05rem; min-height: 1.05em; word-break: break-word }

.countDown { font-size: .9em; text-align: right; opacity: .7; margin: auto 0 }

.ampel { width: 8px; height: 8px; border-radius: 100%; background: currentColor }
.status { color: var(--green); font-weight: bold }
.paused { color: var(--red) }

.details { font-size: .98rem; min-height: 1.16em; color: var(--accent); display: flex; align-items: center; gap: 8px; padding-top: 0; white-space: pre }
.details:nth-child(3) { padding-bottom: 22px }

.btns { display: inline-flex; margin-top: 5px; border-top: 1px solid var(--card-br) }
.btn {
  width: 100%; height: 22px;
  padding:10px 0; border:0; border-right:1px solid var(--btn-br);
  font-weight:600; color: var(--white); text-align:center; text-decoration: none;
  appearance: none; cursor:pointer;
  background-color: var(--black-main); background-repeat: no-repeat; background-position: center; background-size: contain; background-origin: content-box;
}
.btn:hover { background-color:var(--black-washed) }
.btn:active { transform:translateY(1px) }

.btn:first-child { border-radius: 0 0 0 12px }
.btn:last-child { border-right: 0; border-radius: 0 0 12px 0 }
.btn:only-child { border-radius: 0 0 12px 12px }
.noround { border-radius: 0!important }

.btn.edit       { background-image: url('@/svg/edit.svg') }
.btn.complete   { background-image: url('@/svg/complete.svg') }
.btn.cancel     { background-image: url('@/svg/cancel.svg') }
.btn.undo       { background-image: url('@/svg/undo.svg') }
.btn.navigation { background-image: url('@/svg/navigation.svg') }
.btn.video      { background-image: url('@/svg/video.svg') }
.btn.whatsapp   { background-image: url('@/svg/whatsapp.svg') }
.btn.parent     { background-image: url('@/svg/parent.svg') }
.btn.info       { background-image: url('@/svg/info.svg') }
.btn.extrato    { background-image: url('@/svg/extrato.svg') }
.btn.report     { background-image: url('@/svg/report.svg') }
/* .btn.message    {background-image:url('@/svg/message.svg')} */

@media screen and (max-width: 992px) {
  .name, .details { padding: 22px 18px 12px }
  .details { padding-top: 0 }
}