.card{
  display:flex; flex-direction:column; /* min-height:128px; 132px */
  border:2px solid var(--card-br); border-radius:14px;
  background:var(--card-bg); box-shadow:0 1px 2px rgba(0,0,0,.04);
}
.partiallyVisible{opacity:.5}

.name,.details{padding:22px 18px 18px}

.name{display:inline-flex; justify-content:space-between; font-weight:600; font-size:1.05rem; word-break:break-word}
.ampel{width: 8px; height: 8px; border-radius: 100%; background: currentColor}
.status{color: var(--money-green); font-weight:bold}
.paused{color: var(--money-red)}

.details{font-size:.98rem; color:var(--accent); display:flex; align-items:center; gap:8px; padding-top:0; white-space:pre}
.details:nth-child(3){padding-bottom:22px}

.btns{ display:inline-flex; margin-top:5px; border-top:1px solid var(--card-br) }
.btn{
  width: 100%; height: 20px;
  padding:10px 0; border:0; border-right:1px solid var(--btn-br);
  font-weight:600; color: var(--white); text-align:center; text-decoration: none;
  appearance: none; cursor:pointer;
  background-color: var(--black-main); background-repeat: no-repeat; background-position: center; background-size: contain; background-origin: content-box
}
.btn:hover{background-color:var(--black-washed)}
.btn:first-child{border-radius: 0 0 0 14px}
.btn:last-child{border-right:0;border-radius: 0 0 14px 0}
.btn:active{transform:translateY(1px);}
.noround{border-radius:0!important}

.btn.edit       {background-image:url('@/svg/edit.svg')}
.btn.complete   {background-image:url('@/svg/complete.svg')}
.btn.cancel     {background-image:url('@/svg/cancel.svg')}
.btn.undo       {background-image:url('@/svg/undo.svg')}
.btn.navigation {background-image:url('@/svg/navigation.svg')}
.btn.video      {background-image:url('@/svg/video.svg')}
.btn.whatsapp   {background-image:url('@/svg/whatsapp.svg')}
.btn.parent     {background-image:url('@/svg/parent.svg')}
.btn.info       {background-image:url('@/svg/info.svg')}
.btn.extrato    {background-image:url('@/svg/extrato.svg')}
.btn.report     {background-image:url('@/svg/report.svg')}
/* .btn.message    {background-image:url('@/svg/message.svg')} */

@media screen and (max-width: 992px) {
  .name,.details{padding:22px 18px 12px}
  .details{padding-top:0}
}