:root {
  --today-day:'1'; 
  --head-text: #fff; --head-black: #1f2937; --head-white: #fff;
  --nav-back: #9d289f; --nav-hover: #751e76; --nav-line: #cb6298;
  --header-left: #61289f; --header-right: #9f2866;

  --body-back: #f6f6f6; --tab-back: #ccc;
  --black-main:#777777; --black-washed:#555555; --black-back:#c3c3c3;
  --black: #1f2937; --white:#fff; --over-trans:#ffffff3b;
  --table-head: #bbb; --table-even: #f2f2f2; --table-odd: #ddd; --table-balance: #0e0d0d; --table-border: #ddd;
  --card-bg:#fff; --card-br:#e6e6e6; --accent:#111827; --btn-br:#d1d5db;
  --green: green; --red: red;
}

@media (prefers-color-scheme: dark) {
  :root{
    --body-back: #1f1f2e; --tab-back: #2a2a3b;
    --black-main: #999; --black-washed: #808080; --black-back: #333333;
    /* #ccc, #aaa */
    --black: #e5e7eb; --white: #111111; --over-trans: #0000004d;
    --table-head: #1d1d29; --table-even: #2a2a3b; --table-odd: #242435; --table-balance: #ffffff; --table-border: #444;
    --card-bg: #2c2c3d; --card-br: #444; --accent: #f5f5f5; --btn-br: #555;
    --green: #49e048; --red: red;
  }
}