:root {
  --today-day: '1'; 
  --head-text: #fff; --head-black: #1f2937; --head-white: #fff;
  --user-color: #9d289f;

  --nav-back:     hsl(from var(--user-color) h s l);
  --nav-hover:    hsl(from var(--user-color) h            max(0, s)            clamp(0, calc(l - 10), 100));
  --nav-line:     hsl(from var(--user-color) calc(h + 30) max(0, calc(s - 10)) clamp(0, calc(l + 20), 100));
  --header-left:  hsl(from var(--user-color) calc(h + 30) s l);
  --header-right: hsl(from var(--user-color) calc(h - 30) s l);
}