tr{cursor:pointer}

.exHead { display: flex; flex-direction: row; justify-content: space-between; padding: 0 15px 5px; margin: 45px 0 0; border-bottom:1px solid var(--black) }
.exMonth {font-size: 1.2em; font-weight: bold; margin: 5px 0}

.exCol, .exRow { display: flex }
.exCol { flex-direction: column }
.exRow { flex-direction: row; justify-content: space-between; width: 100% }

.mobList, .exItem{width: 100%; margin: 5px 0}
.exItem{box-sizing: border-box; padding: 12px 16px; border-radius: 8px}
.exItem:nth-child(odd){background-color: var(--table-even)}

.exTitle, .exText {margin: 5px 0}
.exTitle { font-weight: bold }
.exText { font-size: .9em ; margin-top: auto}

.icon-wrapper{width: 50px; display:flex}
.icon { position: relative; --color: var(--black); margin: auto; font-size: 2em}
.icon-done, .icon-canceled {width:30px; height:30px; mask-size: contain; mask-repeat: no-repeat; mask-position: center}
.icon-done {background-color: var(--green); -webkit-mask-image:url('@/svg/complete.svg'); mask-image:url('@/svg/complete.svg')}
.icon-canceled {background-color: var(--red); -webkit-mask-image:url('@/svg/cancel.svg'); mask-image:url('@/svg/cancel.svg')}