@import "colors.css";

* { color: var(--black); transition: all 0.3s ease; }
body { font-family: Arial, sans-serif; margin: 0; padding: 0; padding-bottom: 6em; background: var(--body-back); min-height: 100vh}
table { border-collapse: collapse; width: 100%; background: var(--white); }

form {position: relative}
label{ display: block; padding: 10px 0; font-weight: bold }
input, select, textarea { 
  width: 100%; box-sizing: border-box;
  padding: 1.1em .8em; border: 1px solid var(--black-washed); border-radius: 5px; /* margin-bottom: 1em; */ margin-top:.5em; outline: none;
  font-family: "Open Sans", sans-serif; font-size: 1em;
  background: var(--body-back)
}
input[type="file"]{ padding:0; width: unset; }
input[type="number"].tac{padding-left: 1.6em}
textarea{resize: vertical; min-height: 200px;}
select:invalid, option:disabled{color:var(--black-main)}
select{-webkit-appearance: none; appearance: none; -moz-appearance: none;}

.dateFilter { width: 100%; text-align: center; }
h2 { margin: 12px 0 18px; width: 100%; text-align: center; }

.flexContainer { display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 10px; flex-wrap: wrap; }
.container{ width:80% }
.container, .halfContainer {max-width: 900px; margin: auto}
.halfContainer { width:100%; display: flex; flex-wrap: wrap; justify-content: space-between;}
.halfContainer > .half{padding: 0 15px}

.half, .alwaysHalf { width: calc(49.9999% - 5px); box-sizing: border-box; }
.third{ width: calc(33.3333% - 10px); box-sizing: border-box }

.tac{text-align: center; margin-top: 0}
#student-form{width:100%}


table{border-collapse: collapse}
thead{color: var(--white);background: var(--table-head)}
/* thead{color: var(--black)} */
#statement td,#statement th{text-align: center; border: 0}
th{user-select: none}
th, td{ border: 1px solid var(--table-border); padding: 8px; text-align: center }
tr:nth-child(even){background-color: var(--table-even)}
tbody tr:hover {background-color: var(--table-odd)}
.table-balance{border-top: 1px solid var(--table-balance)!important}

button {
  display: inline-block;
  font-size: 1em; font-weight:bold; color: var(--white); text-align: center; text-decoration: none;
  padding: 14px 28px; border: none; border-radius: 6px; margin: 4px 8px;
  background-color:var(--black-main); cursor: pointer;
}
.button { width:25px; height:25px; padding:1em; margin:0; cursor: pointer; background-color:var(--black-main); display: flex; border-radius: 10px}
.button:hover,button:hover {background-color: var(--black-washed)}
button:disabled{ opacity: 0.6; cursor: not-allowed }
button:disabled:hover{ background-color: var(--black-main) }

#config-button{
  width: 32px; height: 32px; position: absolute; right: 18px; top: 18px;
  display: flex; justify-content: center; align-items: center;
  cursor: pointer;
}

.checkbox-label { display: inline-flex; align-items: center; gap: 5px; margin-bottom: 15px }
.checkbox-label span{white-space: nowrap;margin-left:5px}

.dateFlex { width: 100%; max-width: 800px; display: flex; flex-wrap: wrap; gap: 10px}

#thisWeekClasse { width: 100%; max-width: 800px; display: flex; flex-direction: row; gap: 10px }
.weekclass { width: 33.3333%; box-sizing: border-box; padding: 10px; border-radius: 5px }

/* .web{display: block} */
.mob{display: none}

@media screen and (max-width: 992px) {
  .dateFlex{gap: 0}
  .container, .halfContainer, .flexContainer{width: 100%}
  .flexContainer > label { width: 100% }
  .half, .third{width: 100%}
  .web{display: none}
  .mob{display: block}
  button, a:has(button){width: 100%; margin:.5em 0}
  .button{width: 20px; height: 20px}
  #student-history{margin-top: 25px}
}